$width:100%;
$h:100%;
$bg:background;
$w:width;
$s:#00be08;
$wh:#fff;
$p:#3e8da8;
$d:#333;
$r:#e91111;
$lo:#4070f4;
$g:#888;
$tra:all 0.3s ease;
$bs:0 1px 2px rgba(0, 0, 0, 0.2);
$tran:rotate(180deg);
$primary-color:#3d0707;
$panel-color:#3d0707;
$text-color:#000;
$black-light-color:#707070;
$border-color:#e6e5e5;
$toggle-color:#ddd;
$box1-color:#3d0707;
$box2-color:#707070;
$box3-color:#2c2a2a;
$box4-color:#640808;
$box5-color:#242222;
$title-icon-color:#fff;