.containers{
    position: relative;
    max-width: 430px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    z-index: 1000;
    
    .forms{
        width: 200%;
        display: flex;
        height: 440px; 
        align-items: center;
        transition: height 0.2s ease;
        
    }
    .form{
        width: 50%;
        padding: 30px;
        background-color: #fff;
        transition: margin-left 0.18s ease;
        .title{
            position: relative;
            font-size: 27px;
            font-size: 600;
        }
        
    }
    &.active .login{
        margin-left: -50%;
        opacity: 0;
        transition: margin-left 0.18s ease, opacity 0.15s ease;
    }
    .signup{
        opacity: 0;
        transition: opacity 0.09s ease;
    }
    &.active .signup{
        opacity: 1;
        transition: opacity 0.2s ease;
    }
    &.active .forms{
        height: 600px;
    }
}

.form {
    .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: $grena;
    border-radius: 25px;
    }
    .input-field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
    }
}



.input-field input{
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}
.input-field .choose{
    font-size: 20px;
    padding: 0 12%;
    }
 
.input-field input:is(:focus, :valid) ~ i{
    border-bottom-color: $grena;
}
.input-field i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
    transition: all 0.2s ease;
}

.input-field i.icon{
    left: 0;
}

.input-field i.showHidePw{
    right: 0;
    cursor: pointer;
    padding: 10px;
}

.form .checkbox-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-text .checkbox-content{
    display: flex;
    align-items: center;
}

.checkbox-content input{
    margin: 0 8px -2px 4px;
    accent-color: $grena;
}

.form .text{
    color: #333;
    font-size: 14px;
}
.form a.text{
    text-decoration: none;
}
   
.form a:hover{
    text-decoration: underline;
}
.form .button{
    margin-top: 35px;
}

.form .button input{
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: $grena;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button input:hover{
    background-color: $grena;
}

.form .login-signup{
    margin-top: 10px;
    text-align: center;
}

// /*w3scolls*/
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
//   width: 100%;
}
button:hover {
  opacity: 0.8;
}
.modal {
  display: none; 
  position: fixed; 
  z-index: 1000; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  padding-top: 60px;
}
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; 
  border: 1px solid #888;
  width: 80%; 
}
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}
